.container {
  width: 100%;
  background: #080D19;
  display: flex;
  flex-direction: column;
}
.trackInfo {
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 24px;
}
.audioPlayers {
  flex: 1;
  padding: 0 16px;
}
.collapse {
  display: none;
}
.active .collapse {
  display: block;
}
.active {
  background: #2D5175;
}